.customer:not(.account):not(.order){
    max-width: 500px !important;
}
.customer .field input{
    margin: 0px !important;
}
h1#login, h1#recover{
    margin-bottom: 70px;
}
.customer form {
    margin-top: 0px !important;
}
.field__input:focus, .field__input:not(:placeholder-shown), .field__input:-webkit-autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:-webkit-autofill{
    padding: 15px 16px 0px 16px!important;
    box-shadow: 0 1px 3px #00000014!important;
}
.customer.account{
    padding: 0px !important;
}
.london{
    max-width: 715px;
    width: 100%;
    margin: auto;
}
.account-menu .tabcontent{
    padding: 0px !important;
}
.customer .updateform{
    margin-bottom: 100px !important;
}
.edit-add-btn{
    margin: 30px auto 0px auto !important;
}
.account-menu .tab.naTab--, .customer.order .arTabNav{
    max-width: 715px !important;
    width: 100% !important;
}
.toplinkk-wrap{
    padding-top: 100px;
}
.customer .toplinkk .customer__title, a.logouttext{
    margin-bottom: 70px !important;
}
.account-menu .tab button {
    width: 200px!important;
    height: inherit !important;
    min-height: inherit !important;
    height: inherit !important;
    margin:0px !important;
    line-height: 14px !important;
    margin-bottom: 60px !important;
}
.addresses,.addresses.customer:not(.account):not(.order) {
    max-width: 715px !important;
}
.addresses .na_button--addresses{
    gap :15px;
}
.add-btn{
    font-size: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.addresses ul{
    padding-left: 0px !important;
}
.back-oplinkk.toplinkk{
    height: 52px;
}
.toplinkk .back-btn-d{
    margin-top:0px !important;
}
.addresses.section-template--22050624504100__main-padding{
    padding-top: 100px !important;
}
.add-title{
    font-family: 'TstarP';
    font-size: 24px;
    letter-spacing: normal;
    color: #000;
    font-weight: 900;
    margin-bottom: 40px;
}
h3.form__message{
    color: #000;
    text-align: center;
    font-family: TstarW;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    height: inherit;
    width: 100%;
    padding: 0;
    justify-content: center;
    letter-spacing: normal;
    background: transparent;
    text-align: left;
}
.suc-svg{
    margin-right: 10px;
}
.content--inner p{
    margin-top: 0px !important;
}
.na_title h1, h2.title, h2.h1{
    margin-bottom: 70px !important;
}
.na_about--inner ul.na_list--about,.na_Inner--content h2{
    margin-top: 0px !important;
}
.na_contact-form.custom-page{
    margin-top: 70px !important;
}
.facets-container{
    padding-top: 35px !important
}
.pagination-wrapper{
    padding-bottom: 0px;
}
predictive-search input#Search-In-Modal-1,input#Search-In-Template{
    box-shadow: none !important;
}
.template-search__header{
    padding-top: 36px ;
}
.button, .button-label, .shopify-challenge__button, .customer button{
    font-size: 20px;
    font-weight: 900;
}
#add-to-cart-container{
    padding-top: 30px !important;
}
.sizes.activess{
    color: #000;
    border-color: #000;
    border-width: 1px;
    border-left: 1px solid #000;
}
.sizescm span.activess:nth-child(1) {
    border-left-color: #000;
}
#Paris.arOrdersTab{
    margin-bottom: 100px;
}
.home-banner-d{
    margin-top: 50px;
}
.order-history-p{
margin-top: 60px !important;
margin-bottom: 0px !important;
font-family: 'TstarW';
}
#London p, #Paris p, #Tokyo p {
    padding-top: 0px!important;
    font-size: 16px!important;
    font-weight: 700!important;
    color: #000;
}
#Paris.arOrdersTab td a.na_view{
    max-width: 216px!important;
    width:100%  !important
}
#Paris.arOrdersTab td{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.facets .disclosure-has-popup[open] > summary + *{
    padding: 2rem 0.5rem;
    box-shadow: 0 3px 12px #0000000f;
    background: #fcfbfa;
    border: none;
    border-radius: 0.3rem!important;
}
.facets__header,.reset__button:not(:focus):after{
    border:none !important;
}
.facets__list,.facets__header,.facets__header span ,.facets__header a {
    font-family: 'TstarP', Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
}
.facets-container-drawer.z-index_1{
    z-index: 15 !important;
}
.register_title{
    text-transform: uppercase;
}
.na_view{
    font-size: 20px !important;
    font-family: 'TstarP' !important;
    font-weight: 900;
}
cart-items .title,.cart__empty-text{
    font-size: 24px;
    color:#000;
    margin-bottom: 100px;
    margin-top: 0px;
}
.cart__warnings .button{
    font-family: 'TstarP', Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    height: 52px;
    background-color: #000 !important;
    fill: #000 !important;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.08)) !important;
    border-radius: 4px;
}
.cart__warnings .button:before,
.cart__warnings .button:after{
    display: none !important;
}
cart-items .title-wrapper-with-link a {
    margin-top: 0;
    flex-shrink: 0;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.cart-items th{
    border-bottom: 0.5px solid #000 !important;
}
.cart-items thead th {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: #000;
    font-family: 'TstarP', Helvetica, sans-serif;
    padding-bottom: 10px;
}
.cart-items{
    border: 0px;
}
.cart__footer>div:only-child{
    margin-right: auto;
}
.totals {
    justify-content: center !important;
}
.cart__items{
    border-bottom: 0.5px solid #000 !important;
}
cart-items.page-width {
    display: block;
    max-width: 1180px !important;
    width: 100% !important;
}
.cart-items .cart-items__heading--quantity, .cart-item .cart-item__quantity, .cart-item__quantity--info quantity-popover>*, .no-js .cart-item .cart-item__quantity--info {
    padding-left: 0rem !important;
    text-align: center !important;
}
.quantity-popover-container{
    margin: auto !important;
}
.cart-item cart-remove-button {
    margin: auto !important;
    bottom: 0 !important;
    position: absolute !important;
    right: 0!important;
    left: 0 !important;
    top: 30px !important;
    width: 100% !important;
    text-align: center;
}
.mobile-facets__wrapper .mobile-facets__footer {
    margin-bottom: 30px;
}
/* .z-cart-draw .drawer__inner{
    padding-top: 0px !important;
    
} */
#CartDrawer .drawer__header div p{
    margin-top: 28px !important;
    font-size: 24px !important;
}
.z-cart-draw  button.drawer__close.arDrawFillclose{
    top:20px !important
}
.z-cart-draw .shipping-savings-message{
    padding-top: 20px !important;
}
#CartDrawer .free_shipping_notice{
    font-size: 16px !important;
}
cart-remove-button {
    margin: auto;
    text-align: center !important;
}
cart-remove-button .button{
    margin: auto !important;
    text-align: center !important;
}
/*responsive*/
@media screen and (min-width: 991px){
    h1#login, h1#recover,.customer .toplinkk .customer__title, a.logouttext,.na_title h1, h2.title, h2.h1, .add-title{
        line-height: 20px !important;
    }
    a.create-account-link{
        line-height: 11px !important;
    }
    a.backlogin{
        line-height: 12px !important;
    }
    cart-items .title,cart-items .title-wrapper-with-link {
        margin: 56px auto 92px auto;
    }
}
@media only screen and (min-width: 750px){
    .addresses form>div:nth-of-type(1), .addresses form>div:nth-of-type(2) {
        box-sizing: border-box;
        flex-basis: calc(50% - 7.5px) !important;
    }
    .addresses form > div:nth-of-type(1) {
        margin-right: 15px !important;
      }
      .addresses form > div:nth-of-type(2) {
        margin-top: 0;
      }
    
      .addresses form > div:nth-of-type(1),
      .addresses form > div:nth-of-type(2) {
        box-sizing: border-box;
        flex-basis: calc(50% - 7.5px) !important;
      }
}